/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;600;800&display=swap");

/* Global Settings */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #1e1e1e;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
